<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.xtuml.bp.debug.ui.BPApplication">
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.deterministic" value="false"/>
<mapAttribute key="org.xtuml.bp.debug.ui.BPApplication.models">
<mapEntry key="ciera" value="aaedf436-b86c-4f28-8180-9e2a22c9d20c_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_8a28c20e-98fb-46a6-8edb-8e85e98676c8_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="org.xtuml.bp.debug.ui.BPApplication.timeout" value="0"/>
</launchConfiguration>
